:root{
    --primary-color:#1DB954;
    --primary-black:#191414;
    --primary-red-black-gradiant:#191414;
	--background-noise:url(../images/background-noise.svg)
}

/* 
Importing fonts
*/
@font-face {
	font-family: "CircularSpotifyTxT Book Web";
	src: url("fonts/CircularSpotifyTxT-Book.eot");
	src: url("fonts/CircularSpotifyTxT-Book.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Book.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Book.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Book.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Book Italic Web";
	src: url("fonts/CircularSpotifyTxT-BookItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BookItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BookItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BookItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BookItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Light Web";
	src: url("fonts/CircularSpotifyTxT-Light.eot");
	src: url("fonts/CircularSpotifyTxT-Light.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Light.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Light.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Light.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Light Italic Web";
	src: url("fonts/CircularSpotifyTxT-LightItalic.eot");
	src: url("fonts/CircularSpotifyTxT-LightItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-LightItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-LightItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Medium Web";
	src: url("fonts/CircularSpotifyTxT-Medium.eot");
	src: url("fonts/CircularSpotifyTxT-Medium.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Medium.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Medium.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Medium Italic Web";
	src: url("fonts/CircularSpotifyTxT-MediumItalic.eot");
	src: url("fonts/CircularSpotifyTxT-MediumItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Black Web";
	src: url("fonts/CircularSpotifyTxT-Black.eot");
	src: url("fonts/CircularSpotifyTxT-Black.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Black.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Black.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Black Italic Web";
	src: url("fonts/CircularSpotifyTxT-BlackItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BlackItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Bold Web";
	src: url("fonts/CircularSpotifyTxT-Bold.eot");
	src: url("fonts/CircularSpotifyTxT-Bold.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Bold.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Bold.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Bold Italic Web";
	src: url("fonts/CircularSpotifyTxT-BoldItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BoldItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.woff2") format("woff2");
}

/*
Style
*/
body{
font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
#main-content-home{
	background: rgb(66,5,0);
	background: linear-gradient(180deg, rgba(66,5,0,1) 0%, rgba(11,11,11,1) 32%);
	color: #b3b3b3;
}
#main-content-album{
	background-color: rgb(168, 56, 136);
	color: #b3b3b3;
}
a{text-decoration: none;
color: white;}
a:hover{color: white;}
.logo{
    max-height: 40px;
    margin-top: 20px;
    margin-left: 10px;
	margin-bottom: 15px;
}
.sidebar{
    background-color: black;
    min-height: 100vh;
}
.navbar{
	padding: .5rem .5rem;
}
.navbar-nav .nav-link{
	color: #b3b3b3;
	padding: 5px 10px;
}
.navbar ul .active a{
	color: white;
	background-color: #8d8d8d99;
	padding: 5px 10px;
    border-radius: 5px;
}
.navbar ul a:hover{
	color: white;
	background-color: #8d8d8d99;
	padding: 5px 10px;
    border-radius: 5px;
}
.navbar ul li{
	padding-bottom: 10px;
}
.btn-link{
	font-weight: 600;
	color: white;
}
.btn-link:hover{
	color: whitesmoke;
	text-decoration: none;
}
#album-header img{
	-webkit-box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}
.album-details{
	color: white;
	padding-top: 50px;
}
.album-details h4{
	
    font-size: 14px;
    font-weight: 700;
}
.album-details h1{

	padding: 0.08em 0px;
    font-size: 35px;
    line-height: 48px;
    visibility: visible;
    width: 100%;
	font-weight: 900;
	letter-spacing: -.04em;
}
span.year,span.total-songs{
	font-size: 14px;
}
span.year::before,span.total-songs::before{
	content: "•";
    margin: 0px 4px;
}
#album-play{
	background-color: #00000078;
    margin-left: -15px;
    margin-right: -15px;
	-webkit-box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}
.album-play{
	margin-left: 15px;
    padding-left: 15px;
	padding-top: 20px;
	
}
.btn-play{
	background-color: #1db954;
	border: none;
	height: 56px; 
	width: 56px;
}
.btn-play:hover{
	height: 60px; 
	width: 60px;
}
.btn-heart,.btn-dot{
	color: rgb(221, 221, 221);
	background: none;
	border: none;
	height: 30px; 
	width: 30px;
	padding: 15px 0px 15px 50px;
}
.btn-heart:hover,.btn-dot:hover{
	color: white;
}
button svg{
	fill: white;
}

#album-play table{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	color: color: rgb(179, 179, 179);
}
#album-play table tr td:first-child,th:first-child{
	width: 5%;
}
#album-play table tr td:last-child,th:last-child{
	width: 10%;
}
}
#album-play table tr th{
	font-weight: 300;
}
#album-play table tr td{
	padding-bottom: 10px;
}
#album-play table tr:first-child{
	border-bottom: 1px solid;
}

.song-title{
	color: white;
	font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
}
.album-name{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
}
