:root{
    --primary-color:#1DB954;
    --primary-black:#191414;
}

/* 
Importing fonts
*/
@font-face {
	font-family: "CircularSpotifyTxT Book Web";
	src: url("fonts/CircularSpotifyTxT-Book.eot");
	src: url("fonts/CircularSpotifyTxT-Book.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Book.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Book.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Book.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Book Italic Web";
	src: url("fonts/CircularSpotifyTxT-BookItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BookItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BookItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BookItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BookItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Light Web";
	src: url("fonts/CircularSpotifyTxT-Light.eot");
	src: url("fonts/CircularSpotifyTxT-Light.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Light.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Light.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Light.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Light Italic Web";
	src: url("fonts/CircularSpotifyTxT-LightItalic.eot");
	src: url("fonts/CircularSpotifyTxT-LightItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-LightItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-LightItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Medium Web";
	src: url("fonts/CircularSpotifyTxT-Medium.eot");
	src: url("fonts/CircularSpotifyTxT-Medium.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Medium.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Medium.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Medium Italic Web";
	src: url("fonts/CircularSpotifyTxT-MediumItalic.eot");
	src: url("fonts/CircularSpotifyTxT-MediumItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Black Web";
	src: url("fonts/CircularSpotifyTxT-Black.eot");
	src: url("fonts/CircularSpotifyTxT-Black.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Black.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Black.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Black Italic Web";
	src: url("fonts/CircularSpotifyTxT-BlackItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BlackItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Bold Web";
	src: url("fonts/CircularSpotifyTxT-Bold.eot");
	src: url("fonts/CircularSpotifyTxT-Bold.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Bold.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Bold.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Bold Italic Web";
	src: url("fonts/CircularSpotifyTxT-BoldItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BoldItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.woff2") format("woff2");
}

/*
Style
*/

.logo{
    max-height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar{
    background-color: black;
    min-height: 100vh;
}
.spotify-black {
    background-color: #191414;
  }
  .spotify-green {
    background-color: #1DB954 !important;
  }
  .white-fade {
    color: #c1c1c1;
  }
  .grey-fade {
    color: #919191;
  }
  .reader {
    background-color: #919191;
  }
  h6{
      font-size: 6px !important;
  }
  .sportifyfooter {
    position: fixed;
    bottom: 0;
    height: 8.5%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 1;
  }
  /* =========== CURRENT SECTION ===========  */
  .footerImage {
    width: 50px;
    height: 54px;
    margin: 15px;
    padding-left: 2px;
  }
  .current-artist {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  icon1{
	color: white !important;
  }
    
  /* =========== PLAYER SECTION =========== */
  .firstcol,.secondcol, .thirdcol {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .firstblock {
    flex-grow: 2;
    max-width: 200px;
  }
  
  .setcontent {
    justify-content: center;
    flex-flow: column;
    flex-grow: 4;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76%;
    width: 100%;
    transform: scale(0.7);
  }
  .style_buttons {
    margin: 0 9px;
  
  }
  .reading_bar {
    height: 24%;
    width: 100%;
    display: flex;
    justify-content: center;

  }
  
  .sizing_bars {
    height: 2.8px;
    width: 50%;
  }
  
  /* =========== SETTINGS ===========  */
  .settings {
    flex-grow: 1.2;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settings-buttons {
    margin: 0 6px;
  }
  
  .volume {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 130px;
  }
  
  .volume-progress {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  
  .settings-btn-expanded {
    position: absolute;
    float: right;
    right: 20px;
  }
